{% extends 'base.html' %}

{% block content %}

<div class="section-header">
    <h2>Subida de <span class="highlight">Archivos</span></h2>
    <p>Sube los horarios PDF de los profesores.</p>
</div>

<div class="card upload-card">

    <form action="/subir" method="POST" enctype="multipart/form-data">

        <input 
            type="file" 
            name="archivo" 
            multiple
            accept=".pdf"
            required
        >

        <br><br>

        <button type="submit">
            Subir y procesar
        </button>

    </form>

</div>

{% endblock %}